@model liveevents2.Models.Events

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventSTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventSTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventETime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventETime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventCenter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
